[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[packages]
PyYAML = "*"
numpy = "*"
matplotlib = "*"
tk = "*"
mock = "*"
pytest = "==4.6.5"
hexy = "*"
prettytable = "*"
catkin-pkg = "*"
rospkg = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
