[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[packages]
PyYAML = "*"
numpy = "*"
matplotlib = "*"
htm-core = {index = "https://test.pypi.org/simple/",extras = ["examples"],version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
